<div class="container">
    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button color="warn" (click)="onBookNow()">
                Book now
            </button>
        </div>
    </div>
    <div class="header-container" fxLayout="row" fxLayoutAlign="center center">
        <div>
            <h1 class="mat-headline">
                BOOK NOW
            </h1>
            <div>
                <h2>{{reservations}}</h2>
            </div>
        </div>
    </div>
</div>
