<div class="navtabs-container">
    <nav mat-tab-nav-bar fxFlex fxLayout="row" fxLayoutAlign="center center" >
        <a mat-tab-link routerLink="/home"
        routerLinkActive #home="routerLinkActive"
        [active]="home.isActive">
        Home
        </a>
        <a mat-tab-link routerLink="/hotels"
        routerLinkActive #hotels="routerLinkActive"
        [active]="hotels.isActive">
        Hotels
        </a>
        <a mat-tab-link routerLink="/hotel-manager"
        routerLinkActive #hotelmanager="routerLinkActive"
        [active]="hotelmanager.isActive"
        *ngIf="authService.hasRole('TravelAgent')">
        Hotel Manager
        </a>
        <a mat-tab-link routerLink="/reservations"
        routerLinkActive #reservations="routerLinkActive"
        [active]="reservations.isActive"
        *ngIf="authService.hasRole('Traveler') || authService.hasRole('TravelAgent')">
        Reservations
        </a>
        <a mat-tab-link routerLink="/reservation-manager"
        routerLinkActive #reservationmanager="routerLinkActive"
        [active]="reservationmanager.isActive"
        *ngIf="authService.hasRole('TravelAgent')">
        Reservation Manager
        </a>
        <a mat-tab-link routerLink="/user-manager"
        routerLinkActive #usermanager="routerLinkActive"
        [active]="usermanager.isActive"
        *ngIf="authService.hasRole('TravelAgent')">
        User Manager
        </a>
    </nav>               
</div>